.container {
  font-family: "Quicksand", sans-serif;
}

.login,
.home {
  width: 200px;
  height: 200px;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formTitle {
  color: teal;
  font-weight: bold;
}

input {
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

input:focus {
  outline: none;
}

.submitButton {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.card {
  height: 100%;
  width: 100%;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.img-large {
  padding-top: 1rem;
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}
